@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

body {
  font-family: 'Courier Prime', monospace;
  color: #130400;
  background: #E7DECD;
}


/* https://news.ycombinator.com/item?id=32972004 */
html {
  max-width: 70ch;
  /* larger spacing on larger screens, very small spacing on tiny screens */
  padding: calc(1vmin + .5rem);
  /* shorthand for margin-left/margin-right */
  margin-inline: auto;
  /* fluid sizing: https://frontaid.io/blog/fluid-typography-2d-css-locks-clamp/ */
  font-size: clamp(1em, 0.909em + 0.45vmin, 1.25em);
  /* use system font stack: https://developer.mozilla.org/en-US/docs/Web/CSS/font-family */
  font-family: system-ui
}

/* increase line-height for everything except headings */
body :not(:is(h1,h2,h3,h4,h5,h6)) {
  line-height: 1.75;
}

h1 {
  /* font-size: clamp(2em, 0.909em + 0.45vmin, 1.25em); */
  /* font-size: clamp(2em, 0.909em + 0.45vmin + 0.909em + 0.45vmin, 2.5em); */
  font-size: clamp(8em, 3.6em + 1.8vmin, 5em);
  font-family: 'Crimson Text';
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
}

h5 {
  font-size: clamp(1.5em, 0.9em + 0.45vmin + 0.45em + 0.9vmin, 1.75em);
  font-family: 'Crimson Text';
  font-weight: 100;
  margin-top: 0;
  line-height: 1;
}

#output svg {
  transform: scale(2);
}
#score svg {
  transform: scale(2);
}

#output svg path {
  fill: #130400;
  stroke: #130400;
}

#score svg path {
  fill: #130400;
  stroke: #130400;
}

#output svg rect {
  fill: #130400;
  stroke: #130400;
}

#score svg rect {
  fill: #130400;
  stroke: #130400;
}

/* https://coolors.co/130400-225560-e77728-e7decd-b2c9ab */