@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

body {
  font-family: 'Courier Prime', monospace;
  color: #130400;
  background: #E7DECD;
}

/* https://coolors.co/130400-225560-e77728-e7decd-b2c9ab */

/* https://news.ycombinator.com/item?id=32972004 */
html {
  max-width: 70ch;
  padding: calc(1vmin + .5rem);
  padding-top: 0;
  margin-inline: auto;
  /* font-size: clamp(1em, 0.909em + 0.45vmin, 1.25em); */
  font-size: 1.25em;
  font-family: 'Courier Prime', monospace;
}

body :not(:is(h1,h2,h3,h4,h5,h6)) {
  line-height: 1.75;
}

h1 {
  font-size: clamp(7em, 3.6em + 1.8vmin, 4em);
  font-family: 'Crimson Text';
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.75;
}

#header {
  height: 10em; 
  display: flex; 
  flex-direction: column; 
  justify-content: flex-end; 
  align-items: baseline;
}

h5 {
  font-size: clamp(1.5em, 0.9em + 0.45vmin + 0.45em + 0.9vmin, 1.75em);
  font-family: 'Crimson Text';
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
}

h6 {
  font-size: 1.25em;
  font-family: 'Courier Prime', monospace;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1;
}

.sup {
  font-size: 0.6em;
  vertical-align: baseline; 
  position: relative;
  top: -0.4em;
  line-height: 0;
}

#output svg {
  transform: scale(2);
}

#score svg {
  transform: scale(1.9);
}

#output svg path {
  fill: #130400;
  stroke: #130400;
}

#score svg path {
  fill: #130400;
  stroke: #130400;
}

#output svg rect {
  fill: #130400;
  stroke: #130400;
}

#score svg rect {
  fill: #130400;
  stroke: #130400;
}

#chord_diagram, #score {
  margin: 0;
  padding: 0;
}

#slideshow_tracker {
  display: flex;
  justify-content: center;
  margin: 0 0 0px 0;
}

#navigation_dropdowns {
  display: flex;
  justify-content: center;
  margin: 0 0 40px 0;
}

#counterholder {
  display: flex;
  flex-direction: row;
  align-items: center;
}

 #buttonholder {
  flex-direction: row;
 }

.container {
  display: flex;
}

.child {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  border: none;
  border-top: 1px solid #AB9B7D;
  margin: 0 0 10px 0;
}

button {
  background-color: #130400;
  color: #E7DECD;
  border: 2px solid transparent;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease;
  font-family: 'Courier Prime', monospace;
}

button:hover {
  background-color: #E7DECD;
  color: #130400;
  border-color: #130400;
}

.breadcrumb {
  padding: 0;
}

.breadcrumb a {
  color: #107D87;
  text-decoration: none;
}

a {
  color: #107D87;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.breadcrumb span {
  color: #D16666;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

#prev_button, #next_button {
  margin: 0 20px;
}

ul {
  margin:0
}

/* div {
  border: 2px solid #000;
} */

.collapsible {
  background-color: #130400;
  color: #E7DECD;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #AB9B7D;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #E7DECD;
}

.content-box {
  width: 300px;
  border: 1px solid #130400;
  padding: 10px;
}

.content-box .btn {
  display: block;
  width: 100%;
  padding: 10px 0;
  background: #130400;
  color: #E7DECD;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.content-box .box a {
  display: block;
  margin-bottom: 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content-box {
  flex: 1 0 21%; /* Or whatever percentage that suits your design */
  margin: 1%;
  border: 1px solid #130400;
  padding: 10px;
  box-sizing: border-box;
}




select {
  background-color: #130400;
  color: #E7DECD;
  border: 2px solid transparent;
  border-radius: 0; 
  padding: 10px 20px;
  text-align: left; 
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 5px 0px 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease;
  font-family: 'Courier Prime', monospace;
}

select:hover {
  background-color: #E7DECD;
  color: #130400;
  border-color: #130400;
}

/* Style for the options */
select option {
  background: #130400;
  font-family: 'Courier Prime', monospace;
  color: #E7DECD;
}

button, select {
  height: 50px;
  /* other styles... */
}

button, select {
  box-sizing: border-box;
  /* other styles... */
}

#root_notes_select {
  width: 90px
}

#chord_types_select {
  width: 150px
}

#tuning_select {
  width: 150px
}

.strumpeggio {
  width: 150px
}

.sectionContainer {
  background-color: #E7DECD;
  color: #130400;
}

.sectionContainer h1 {
  font-family: 'Courier Prime', monospace;
  margin: 10px;
}

.linkParent a {
  color: #130400;
  text-decoration: none;
  font-family: 'Courier Prime', monospace;
}

.linkParent a {
  display: none;
}

.linkParent a.topLink {
  display: block;
}

.moreOrLess {
  color: #130400;
  cursor: pointer;
  font-family: 'Courier Prime', monospace;
  margin: 10px;
}

.moreOrLess:hover {
  color: #130400;
}

