<html>
<head>
    <title>Chords</title>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
    <div class="breadcrumb">
        <a href="https://shivers.dev">~</a> / 
        <a href="https://shivers.dev/uke/">uke</a> / 
        <a href="https://shivers.dev/uke/{{ tuning_name }}">{{ tuning_name }}</a> / 
        <span>chords</span>
    </div>
    <div id="header">
        <h1 id="emphasis_title">
            All Chords
        </h1>
        <h5 id="subtitle"><i>
            by root or type
        </i></h5>
    </div>
    <hr>
    <br>
    <div class="container">
        <div style="display: flex; flex-direction: column;">
            <h6>Chord Types (Broken)</h6>
                {% for chord in chord_types %}
                    <ul><a href="https://shivers.dev/uke/"><li>{{ chord['type'] }}</li></a></ul>
                {% endfor %}
        </div>
        <div style="display: flex; flex-direction: column;">
            <h6>Chord Roots</h6>
                {% for root in roots %}
                    <ul><a href="https://shivers.dev/uke/{{tuning_name}}/chords/{{root['str'] | replace('#','s')}}"><li>{{ root['str'] }}</li></a></ul>
                {% endfor %}
        </div>
    </div>
    <br>
    <hr>
</body>
</html>
