<html>
<head>
    <title>{{ chord_data[0].root_note }}{{ chord_data[0].chord_text_abbrv }}</title>
    <script type="module" src="/static/chord.js"></script>
    <script type="module" src="/static/chordbox.js"></script>
    <script src="https://unpkg.com/vexflow@4.0.1/build/cjs/vexflow-debug.js"></script>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
    <div class="breadcrumb">
        <a href="https://shivers.dev">~</a> / 
        <a href="https://shivers.dev/uke/">uke</a> / 
        <a href="https://shivers.dev/uke/{{ chord_data[0].tuning_name }}">{{ chord_data[0].tuning_name }}</a> / 
        <a href="https://shivers.dev/uke/{{ chord_data[0].tuning_name }}/chords">chords</a> / 
        <a href="https://shivers.dev/uke/{{ chord_data[0].tuning_name }}/chords/{{ chord_data[0].root_note }}">{{ chord_data[0].root_note }}</a> / 
        <span>{{ chord_data[0].root_note }}{{ chord_data[0].chord_abbrv }}</span>
    </div>
    <div id="header">
        <h1 id="emphasis_title">
            {{ chord_data[0].root_note }}{{ fixed_abbrv[0] }}<sup class="sup">{{ fixed_abbrv[1] }}</sup>
        </h1>
        <h5 id="subtitle"><i>
            {{ chord_data[0].root_note }} {{ chord_data[0].chord_type }}
        </i></h5>
    </div>
    <hr>
    <div class="container">   
        <div id="chord_diagram" class="child"></div>
        <div id="score" class="child"></div>
    </div>  
    <div id="slideshow_tracker">
        <div id="counterholder">
            <button id="prev_button">Prev.</button>
            <p id='slideshow_tracker_p'>001 / {{ chord_data|length }}</p>
            <button id="next_button">Next</button>
        </div>
    </div>
    <hr>
    <div id="copy"><p id="copy_p"></p></div>
    <script type="module">
        let index = 0;
        let full_chord_data = {{ chord_data|tojson }};
        
        import ChordBox from '/static/chordbox.js';
        
        // Funcs
        function draw(sel, chord, opts, position) {
            console.log('in new draw, position is:', position)
            return new ChordBox(sel, opts).draw(chord, position=position);
        }

        const convert = n => n === -1 ? 'x' : n;
        
        function getNumberFromString(str) {
            var num = str.match(/\d+/);
            return num ? parseInt(num[0]) : null;
        }
        
        function getMinExcludeZeroAndNegativeOne(array) {
            array = array.filter(num => num > 0);  // exclude 0 and -1
            return array.length ? Math.min(...array) : null;  // return null if array is empty
        }

        function adjustFingering(fingering_int, position) {
            if (fingering_int == -1) {
                return 'x';
            } else if (fingering_int == 0) {
                return 0;
            } else if (position == 0) {
                return fingering_int
            } else {
                return fingering_int - position + 1;
            }
        }

        function intStrToNoteStr(root, int_str) {
            // Given "A", and "0,4,7" returns "A, C, E"
            let notes = ['C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#', 'A', 'A#', 'B'] // TODO: shouldn't live here.
            let int_list = int_str.split(",");
            let root_int = notes.indexOf(root);
            let return_list = [];
            for (let i = 0; i < int_list.length; i++) {
                return_list.push(
                    notes[(parseInt(int_list[i]) + root_int) % notes.length]
                )
            }
            return return_list.join(', ')
        }
        
        function update_all(index) {
            let chord_data = full_chord_data[index]

            // Update Chord Diagram, start by removing old content
            let chord_diagram = document.getElementById('chord_diagram');
            let position = (chord_data['fret_max'] <= 4) ? 0 : getMinExcludeZeroAndNegativeOne([chord_data['f1'], chord_data['f2'], chord_data['f3'], chord_data['f4']])
            let numFrets = (chord_data['fret_stretch'] < 4) ? 4 : Math.min(chord_data['fret_stretch'] + 1, 7);
            chord_diagram.innerHTML = '';
            draw(
                chord_diagram, 
                {
                    chord: [
                        [4, adjustFingering(chord_data['f1'], position), chord_data['rel_note1']], 
                        [3, adjustFingering(chord_data['f2'], position), chord_data['rel_note2']],
                        [2, adjustFingering(chord_data['f3'], position), chord_data['rel_note3']], 
                        [1, adjustFingering(chord_data['f4'], position), chord_data['rel_note4']]
                    ],
                    position: position,
                    tuning: [chord_data['str1'], chord_data['str2'], chord_data['str3'], chord_data['str4']]
                },
                {
                    width: 300,
                    height: 420,
                    circleRadius: 100,
                    numStrings: 4,
                    numFrets: numFrets,
                    defaultColor: '#130400',
                    strokeWidth: 2,
                    fretWidth: 2,
                    stringWidth: 2,
                    labelWeight: 1,
                    labelSize: 1,
                    fontSize: 28,
                    fontWeight: 1,
                    fontFamily: ['"Courier Prime"', 'monospace']
                },
                5
            );

            // Score
            let score_sel = document.getElementById('score');
            score_sel.innerHTML = ''; // Remove previous content.
            var vf = new Vex.Flow.Factory({renderer: {elementId: 'score', height: 200, width: 115}});
            var score = vf.EasyScore();
            var system = vf.System({x:5, y:-6, spaceBetweenStaves:10, width:108});
            let abs_notes = [chord_data.abs_note4, chord_data.abs_note3, chord_data.abs_note2, chord_data.abs_note1]
            let bass_voices = [];
            let treble_voices = [];
            for (let i = 0; i < abs_notes.length; i++) {
                if (abs_notes[i]) { // Avoid falsy '' values for abs notes
                    if (getNumberFromString(abs_notes[i]) <= 3) {
                        bass_voices.push(score.voice(score.notes(`${abs_notes[i]}/1`, {clef: 'bass', stem: 'down'})))
                    } else {
                        treble_voices.push(score.voice(score.notes(`${abs_notes[i]}/1`, {stem: 'down'})))
                    } 
                }
            }
            system.addStave({voices: treble_voices}).addClef('treble');
            if (bass_voices.length > 0) {
                system.addStave({voices: bass_voices}).addClef('bass');
            } else {
                system.addStave({voices: [score.voice(score.notes(`d3/1/r`, {clef: 'bass'}))]}).addClef('bass');
            }
            system.addConnector()
            vf.draw();

            // Tracker
            const sel3 = document.getElementById('slideshow_tracker_p');
            sel3.innerHTML = `${index.toString().padStart(3, '0')} / ${(full_chord_data.length - 1).toString().padStart(3, 0)}`

            // Text
            const sel4 = document.getElementById('copy_p');
            console.log(chord_data)
            let my_copy = `Target notes: ${intStrToNoteStr(chord_data.root_note, chord_data.chord_int_str)} <br>Played notes: ${chord_data.abs_note1}, ${chord_data.abs_note2}, ${chord_data.abs_note3}, ${chord_data.abs_note4}<br>Stretch: ${chord_data.fret_stretch + 1}`;
            sel4.innerHTML = my_copy;
        }

        // Populating and creating event listeners
        update_all(0);

        const nextButton = document.getElementById('next_button');
        nextButton.addEventListener('click', async () => {
            index = (index + 1) % full_chord_data.length
            update_all(index);
        });

        const prevButton = document.getElementById('prev_button');
        prevButton.addEventListener('click', async () => {
            if (index == 0) {
                index = full_chord_data.length - 1
            } else {
                index--;
            }
            update_all(index);
        });

    </script>

</body>
</html>

