<html>
<head>
    <title>Shivers Uke Tools</title>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
    <div class="breadcrumb">
        <a href="https://shivers.dev">~</a> / 
        <span>uke</span>
    </div>
    <div id="header">
        <h1 id="emphasis_title">
            Ukulele
        </h1>
        <h5 id="subtitle"><i>
            it's an instrument
        </i></h5>
    </div>
    <hr>
    <br>
    <div>
        This is where I've decided to visualize ukulele chords after being disappointed with the chord diagrams on other websites.
        <br><br>
        Though this site is built to be navigated by modifying the URL (simply change the 'M' to 'm' to change the <a href="https://shivers.dev/uke/high_g/CM">C Major URL</a> to <a href="https://shivers.dev/uke/high_g/Cm">C Minor</a>), you can also explore by clicking links, like some kind of caveman.
        <br><br>
        Select your tuning to begin:
        <ul>
            {% for tuning in tunings %}
            <li><a href="https://shivers.dev/uke/{{tuning.name}}">{{tuning.name}}</a></li>
            {% endfor %}
        </ul>
        <br>
        Or jump straight to the <a href="https://shivers.dev/uke/high_g/CM?id=12393">chords</a>.
    </div>
    <br>
    <hr>
</body>
</html>
